*{
    text-align: center;
    font-size: 1.2rem;
    outline: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: url(image/matrice.jpg);
}

.app {
    background-image: linear-gradient(to right, rgb(27, 46, 24) 0%, rgb(36, 92, 36) 50%, rgb(4, 43, 4) 100%);
    margin: 0 10px;
    padding: 24px 10px 10px;
    border-radius: 16px;
    width: 90%;
    max-width: 600px;
    box-shadow: -1px 1px 16px 13px black;
}

#password-output {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    width: 100%;
    color: white;
}
.range-container {
    margin: 20px 0;
}
input[type='range']{
    -webkit-appearance: none;
    appearance: none;
    width: 160px;
    background-image: linear-gradient(120deg, rgb(110, 110, 38)0%, green 100%);
    border-radius: 50px;
}
input[type='range']::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    border-width: 0 10px 10px green(0,0,0,0.25);
}
input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 40px;
    background: linear-gradient(
        to bottom,
        rgb(84, 82, 82) 0%,
        rgb(36, 33, 33),100%
    );
    background-blend-mode: multiply, multiply;
    cursor: pointer;
    border-radius: 18px;
    transform: translateY(-11px);
    transition: 00.15s ease;
    cursor: grab;
}
input[type='range']::-webkit-slider-thumb:active {
    cursor:  grabbing;
    transform: scale(1.2) translateY(-9px);
}